{
"path" : "B:\\PsychoStasis\\Training\\carbonbeagle-11b-truthy.Q8_0.gguf",
"core" : true,
    "params": {
        "cpu": false,
        "tensorcores": true,
        "load_in_8bit": true,
        "n_ctx": 4096,
        "threads": 20,
        "threads-batch": 10,
        "no_mul_mat_q": false,
        "n_batch": 512,
        "no-mmap": true,
        "mlock": true,
        "n-gpu-layers": -1,
        "tensor_split": null,
        "numa": true,
        "logits_all": false,
        "cache_capacity": "60GiB",
        "no_offload_kqv": false,
        "alpha_value": 1.0,
        "custom_token_bans":"<|im_end||>",
        "rope_freq_base": 0.0,
        "compress_pos_emb" : 1,
        "chat_format": "chatml",
        "max_tokens" : 1024,        
        "top_p": 0.9,
        "min_p": 0.6,
        "typical_p": 0.9,
        "top_k": 10,
        "frequency_penalty": 0.7,
        "repetition_penalty": 2.4,
        "presence_penalty": 0,
        "seed":-1,
        "ban_eos_token": true,
        "tfs": 1,
        "mirostat_mode": 0,
        "mirostat_tau": 5.0,
        "mirostat_eta": 0.1,
        "num_return_sequences":1
    }
}