{
    "path": "B:/PsychoStasis/models/openai-community_gpt2",
    "core": false,
    "params": {
        "low_mem": false,
        "bf16": true,
        "load_in_8bit": true,
        "max_length": 2048
        "temperature": .9,
        "top_p": 1,
        "top_k": 50,
        "repetition_penalty": 1,
        "presence_penalty": 0,
        "frequency_penalty": 0,
        "seed":-1,
        "length_penalty": 1,
        "early_stopping": false,
        "num_beams": 1,
        "no_repeat_ngram_size":0,
        "num_return_sequences":1
    }
}